body {
    background-color: rgb(38, 37, 37);
}

header{
    background-color: red;
    position: relative;
    display: flex;
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    padding: 10px;
}

.logo{
    background-color: green;
    width: 25%;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.select-language {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex; 
    justify-content: center;
    align-items: center;
}


